version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "monthly"
    file: "requirements.txt"
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "monthly"
    file: "py-lint-requirements.txt"
